.section-one{
    background-color: #1f2937;
    display:flex;
    flex-direction: column;
    color: #f9faf8;

}


body {
    margin:0;
    font-family: 'Roboto', 'Helvetica', sans-serif;

}

a {
    text-decoration: none;
    color: #e5e7ebd3;
    margin-right: 20px;

}

ul {
    list-style-type:none;
    display:flex; 
    gap: 18px;

}

.header, .s1-one {
    display:flex;
    margin-left: 20px;

}

.header {
    justify-content: space-between;
    

}

.s1-one {
    justify-content: space-around;
    align-items: center;

}

.s1-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


img {
    padding:20px;
}

button {
    padding:5px;
    color: #f9faf8;
    font-weight: bold; 
    background-color: #3882F6;
    border-radius: 4px;

}

.section-two {
    display:flex;
    flex-direction: column;
}

.s2-one {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.s2-two {
    display:flex;
    justify-content: center;
    gap:30px;
    text-align: center;
    color: #949494;
}

.s2-three.img {
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

img {
    width: 200px;
    height:200px;
}


.section-three {
    background-color: #e5e7eb;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 150px 60px 120px 60px;
    
}

.section-four {
    padding: 150px 60px 120px 60px;

}

.s4-one {
    background-color: #3882F6;
    padding:50px;
    border-radius: 20px;
    color: #f9faf8;
    display:flex;
    flex-direction: column;


}